.DateInput__display-text {
    padding: 0 !important;
}

.form-group > * {
    font-size: 2rem;

}

input.form-control, textarea.form-control {
    font-size: 2.2rem;
}

#expense-list select.form-control {
    height: 44px !important;
}

#expense-list .form-group {
    display: contents;
}

/* .DateRangePickerInput > * {
    margin: 0 !important;
    padding:0 !important;
} */

.DateInput {

    width: 90px !important;

}

input#search {
    height: 35px;
}

.navbar-expand {
    justify-content: space-evenly !important;
}

div#expense-list {
    padding: 1rem 1.6rem;
}

a.navbar-brand.bg-dark.text-light.pl-3 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    font-variant-caps: all-small-caps;
    /* font-weight: initial; */
}

a.navbar-brand.bg-dark:hover, a.navbar-brand.bg-dark:focus {
background: transparent !important;
}


a.btn.button {
    color: #fff;
    background:#4088eee6;
}


a.btn.button.mt-5:hover {
    color: #fff;
}


button.btn.btn-primary.btn-lg, button.mb-3.btn.btn-secondary.btn-lg.mt-3 {
    color: #fff;
}


button.btn {
    color: #000;
    font-weight: 600;
    font-size: 1.4rem;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, .8);
}
button.btn:hover {
    color: #fff;
    background: red;
}

.DateRangePickerInput {
    margin-right: 2rem;
}

div#app {
    max-width: 100%;
}

p > span, p span > * {
    font-size: 18px;
}

body{
    max-width: 100%;
}

.row.text-center {
    margin-right: 0 !important;
}