//Colors
// $off-black:  #202222;
// $off-white: #a5afd7;
// $dark-blue: #333745;
// $btn-color-1: #8357c5;
// $col-prime: #3c4251;
// $light-blue: #464b5e;

$off-black:  #11203d;
$off-white: #a5afd7;
$dark-blue: #333745;
$btn-color-1: #425ac5;
$col-prime: #3c4251;
$light-blue: #464b5e;



//Sizes
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 4.8rem;
$desktop-breakPoint: 45rem;